<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FucaLetrasWeb.Properties.Settings.FucaLetrasWeb" 
            connectionString="Data Source=localhost;Initial Catalog=fucaletrasWeb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>